body {
  margin: 0;
  font-family: Arial;
}

.container {
  width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  padding: 50px;
  background-color: #445162;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__text-title {
  margin: 0 0 48px 0;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
}

.header__text-list {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.header__text-item {
  padding: 0 0 0 40px;
  line-height: 32px;
  list-style-type: none;
  position: relative;
}

.header__text-item:last-child {
  padding: 0 0 0 40px;
}

.header__text-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 24px;
  background-image: url("../img/check-box.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header__img {
  display: block;
  width: 469px;
  min-height: 214px;
  background-color: #fff;
}

.about-product {
  width: 100%;
  padding: 50px;
  background-color: #fff;
  color: #445161;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-product__text {
  max-width: 600px;
}

.about-product__text-title {
  margin: 0 0 30px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.about-product__text-item {
  margin: 0 0 20px 0;
}

.about-product__text-item:last-child {
  margin: 0;
}

.about-product__video-content {
  width: 430px;
  min-height: 245px;
  background-color: #445162;
}

.dignity {
  width: 100%;
  background-color: #f5f5f5;
  color: #445161;
  padding: 50px 50px 15px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dignity__title {
  text-align: center;
  margin: 0 0 29px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.dignity__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dignity__item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 49%;
  list-style-type: none;
  margin: 0 0 35px 0;
  padding: 0 0 0 40px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dignity__item:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/check-box.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.screenshots {
  width: 100%;
  background-color: #fff;
  color: #445161;
  padding: 50px 50px 30px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.screenshots__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screenshots__title {
  margin: 0 0 35px 0;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.screenshots__figure {
  margin: 0 0 20px 0;
  max-width: 577px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.screenshots__img {
  background-color: #445161;
  width: 200px;
  height: 150px;
  float: left;
}

.screenshots__info {
  float: right;
  margin: 0 0 0 15px;
  max-width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.screenshots__info-title {
  margin: 0 0 0 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
}

.screenshots__info-text {
  margin: 15px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.buy-it-now {
  padding: 50px 0 50px 0;
}

.buy-it-now__header-text {
  margin: 0 0 29px 0;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #485564;
}

.buy-it-now__all-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buy-it-now__price-block {
  padding: 17px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #f5f5f5;
  background-color: #445162;
  border-radius: 5px;
}

.buy-it-now__head {
  font-weight: normal;
  margin: 0 0 17px 0;
  font-size: 24px;
}

.buy-it-now__price {
  display: block;
  margin: 0 0 0 0;
  font-size: 40px;
  width: 99%;
  text-align: center;
  color: #445162;
  background-color: #f5f5f5;
}

.buy-it-now__list {
  margin: 20px 29px 12px 0;
  line-height: 25px;
}

.buy-it-now__button {
  color: #445162;
  background-color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 0 14px 0;
  width: 260px;
  border-radius: 5px;
}

.footer {
  padding: 53px 246px 49px 249px;
  background-color: #445162;
}

.footer__header {
  text-align: center;
  margin: 0 0 31px 0;
}

.footer__contact-form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}

.footer__input {
  min-height: 40px;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 0 21px 0;
}

.footer__textarea {
  border-radius: 10px;
  min-height: 170px;
  font-family: Arial;
  font-size: 16px;
  margin: 0 0 21px 0;
}

.footer__button {
  padding: 14px 48px 14px 48px;
  border-radius: 10px;
}

.footer__contacts {
  margin: 0;
  list-style: none;
}

.footer__contacts:nth-child(1) {
  position: relative;
}

.footer__contacts:nth-child(2) {
  position: relative;
}

.footer__contacts:nth-child(3) {
  position: relative;
}

.footer__contacts:nth-child(4) {
  position: relative;
}

.footer__contacts__contacts-item:nth-child(1):before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/skype.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__contacts:nth-child(2):before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/icq-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__contacts:nth-child(3):before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/email.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__contacts:nth-child(4):before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/phone.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__social:nth-child(1) {
  background-image: url("../img/twitter.svg");
  font-size: 90px;
}
/*# sourceMappingURL=style.css.map */